* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #212121;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .ig-phone {
        display: none;
    }

    .ig-continue {
        margin: 20px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .log-in {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .fb-group {
        margin-top: 15px;
    }

    .forgot-password {
        margin-top: 15px;
    }
}

.ig-wrapper {
    display: flex;
    flex-grow: 1;
    max-width: 1440px;
    width: 100%;
    margin: 64px auto;
    justify-content: center;
    padding-bottom: 32px;
}

.ig-phone {
    flex-basis: 380.32px;
    height: 581.15px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9E9E9E;
    border: 1px solid #212121;
}

.group p {
    font-size: 14px;
}

.sign-up {
    color: #e3e3e3;
    font-weight: 600;
}

.grow {
    flex-grow: 1;
    justify-content: space-around;
}

.ig-continue {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.log-in {
    color: #fafafa;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    text-align: center;
    line-height: 28px;
    width: 74%;
    height: 28px;
    background-color: #424242;
    margin-left: 40px;
    margin-right: 40px;
}

.fb-login {
    color: #244584;
    font-weight: 600;
}

.forgot-password {
    color: #283593;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.g-rectangle {
    border-radius: 1px;
    width: 100%;
    margin: 0 0 10px;
    padding: 20px 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs input {
    height: 26px;
    width: 70%;
    padding: 4px;
    border-radius: 2px;
    margin-top: 6px;
    border: 1px solid #15181c;
    background-color: #fafafa;
}

.or-section {
    display: flex;
    width: 80%;
    justify-content: center;
}

.or-rectangle {
    width: 100%;
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
    align-self: center;
    background-color: #15181c;
}

.or-text {
    color: #15181c;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.get-app p {
    color: #f6eddb;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ig-logo {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

.fb-logo {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.apple-logo, .google-logo {
    height: 40px;
}